# Ignore the virtual environment directory named Deep-Learning
/deep_learning/Deep-Learning/
/machine_learning/dataset/
/computer_vision/Computer-Vision
/machine_learning/MNIST.jld2
# Optionally ignore other files or directories
*.pyc
__pycache__/
*.pyo
*.pyd

# Ignore Jupyter notebook checkpoints (if applicable)
.ipynb_checkpoints/

# Ignore other environment-specific files (optional)
.vscode/
.idea/
